.inscricaoCard {
    width: 34vw;
    border-radius: 10px;
    box-shadow: 15px 15px 12px 2px rgba(61, 61, 61, 0.8);
}

@media (max-width: 700px) {
    .inscricaoCard {
        width: 100vw;
        margin: 15px;
    }
}