.orderContainer {
    width: 50vw;
    background-color: var(--color-background);
    margin: 0 auto;
    margin-bottom: 100px;
}

.errorMessage {
    font-size: 1.6em;
    font-weight: 400;
    font-family: Ubuntu;
    color: var(--color-text-secundary);
    margin: 20px;
    text-align: center;
}

@media (max-width: 767px) {
    .orderContainer {
        width: 100vw;
    }
}

@media (min-width: 1023px) {
    .orderContainer {
        width: 50vw;
    }
}