#informationcontainer {
    text-align: center;
}

.informationContent {
    width: 100vw;
    height: calc(100vh - 70px);
}

.btnSave {
    background-color: var(--color-primary);
    width: 90vw;
}

.btnDisabled {
    background-color: var(--color-text-secundary);
    cursor: auto;
    pointer-events: none;
}

.buttonContainer {
    margin: 0 auto;
    padding-top: 20px;
}

.informationObservation sup {
    color: red;
}

@media (min-width: 700px) {
    .informationContent {
        width: 60vw;
        margin: 0 auto;
    }
    #input {
        width: 60vw;
        margin-bottom: 20px;
    }
    #input:first-child {
        margin-top: 20px;
    }
    .btnSave {
        width: 58vw;
    }
}

@media (min-width: 1024px) {
    .btnSave {
        width: 44vw;
    }
}

@media (min-width: 1200px) {
    .btnSave {
        width: 30vw;
    }
}